.coding-example-section {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 50px;
    padding-bottom: 25px;
}

.coding-example-link {
    margin-right: 15px;
}

.coding-example-desc {
    margin-right: 10px;
    width: 400px;
}

.coding-example-thumbnail {
    cursor: pointer;
    width: auto;
    margin-top: 30px;
}